body {
	background-color: var(--bg);
	// padding-top: var(--headerHeight);
}

.Wrap {
	// height: 100vh;
	// overflow: hidden;
	display: flex;
	position: relative;
}

.Main {
	word-break: break-word;
	overflow: auto;
	flex: 1 1 auto;
	margin-left: var(--sidepanelWidth);
}
